{% extends 'base.html.twig' %}
{% block title %}Bill | Shopinist{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/homepage.css') }}" />
    <link rel="stylesheet" href="{{asset('css/cart.css')}}"/>
{% endblock %}

{% block body %}
<style>
    .Ok:hover{
        background-color: #F4EECE;
    }
</style>
    <section class="h-100 h-custom" style="background-color: #F4EECE;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <div class="card card-registration card-registration-2" style="border-radius: 50px;">
                        <div class="card-body p-0">
                            <div class="row g-0">
                                <div class="col-lg-12">
                                    <div class="p-5">
                                        <div class="d-flex justify-content-between align-items-center mb-5">
                                            <h1 class="fw-bold mb-0 text-black">Bill shop</h1>
                                            <h6 class="mb-0 text-muted">{{numItem}} items</h6>
                                        </div>
                                            <div class="row">
                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                <h6 class="text-muted">User ID</h6>
                                                <h6 class="text-black mb-0">{{uid}}</h6>
                                            </div>
                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                <h6 class="text-muted">User name</h6>
                                                <h6 class="text-black mb-0">{{uFirstName ~ uLastName}}</h6>
                                        </div>
                                         {% for f in findDate %}
                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                <h6 class="text-muted">Date</h6>
                                                <h6 class="text-black mb-0">{{f.date|date()}}</h6>
                                            </div>
                                         {% endfor %}
                                        </div>
                                        <hr class="my-4">
                                         {% for d in detail %}  
                                        <div class="row mb-4 d-flex justify-content-between align-items-center">                         
                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                            {% set img = d.image %}
                                                <img src="{{asset('uploads/'~img)}}"
                                                    class="img-fluid rounded-3" alt="">
                                            </div>
                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                <h6 class="text-muted">Product ID</h6>
                                                <h6 class="text-black mb-0">{{d.id}}</h6>
                                            </div>
                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                <h6 class="text-muted">Quantity</h6>
                                                <h6 class="text-black mb-0">{{d.product_quantity}}</h6>
                                            </div> 
                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                <h6 class="text-muted">Product name</h6>
                                                <h6 class="text-black mb-0">{{d.product_name}}</h6>
                                            </div>
                                            <div class="col-md-2 col-lg-2 col-xl-2 d-flex justify-content-end">
                                                <h5>${{d.price}}</h5>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% for f in findDate %}
                                        <div class="d-flex justify-content-between mb-4">
                                            <h5 class="text-uppercase">Total price</h5>
                                            <h5>${{f.sum}}</h5>
                                        </div>
                                        {% endfor %}
                                        <hr class="my-4">

                                        <div class="pt-5 d-flex justify-content-between">
                                                {# <input type="submit" style="border-radius: 12%; border-width: 2px; 
                                                border-color: rgb(0, 0, 0);" class="Ok btn btn-white" value="Back to shopping"> #}
                                                <a href="{{path('app_home')}}"><button class="btn btn-white Ok" style="border-radius: 12%; border-width: 2px; 
                                                border-color: rgb(0, 0, 0);">Back to shopping</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}