{% extends 'base.html.twig' %}
{% block title %}Cart | Shopinist{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/homepage.css') }}" />
    <link rel="stylesheet" href="{{asset('css/cart.css')}}"/>
{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
    {% if message != "" %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error!</strong> {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <section class="h-100 h-custom" style="background-color: #F4EECE;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <div class="card card-registration card-registration-2" style="border-radius: 50px;">
                        <div class="card-body p-0">
                            <div class="row g-0">
                                <div class="col-lg-8">
                                    <div class="p-5">
                                        <div class="d-flex justify-content-between align-items-center mb-5">
                                            <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                                            <h6 class="mb-0 text-muted">{{count}} items</h6>
                                        </div>
                                        <hr class="my-4">
                                         {% for c in cart %}
                                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                                            <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12 pb-3">
                                                {% set img = c.image %}
                                                    <img src="{{asset('uploads/'~img)}}" class="img-fluid rounded-3" alt="">
                                            </div>
                            
                                                <div class="col-md-2 col-lg-2 col-xl-2 col-sm-12 pb-3">
                                                <h6 class="text-muted">{{c.category_name}}</h6>
                                                <h6 class="text-black mb-0">{{c.product_name}}</h6>
                                            </div>
                                            <div class="col-md-2 col-lg-2 col-xl-2 col-sm-12 d-flex pb-3">
                                                <form action="{{path('edit_qty', {'id':c.id})}}">
                                                    <select name="qty" class="form-select" onchange="this.form.submit()">
                                                        <option selected>{{c.product_count}}</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                    </select>
                                                </form>
                                            </div>
                                            <div class="col-md-2 col-lg-2 col-xl-2 col-sm-12 pb-3" >
                                                <h6 class="text-muted">Size:
                                                <h6 class="text-black mb-0">{{c.size}}</h6>
                                                </h6>
                                            </div>
                                            <div class="col-md-2 col-lg-2 col-xl-2 col-sm-12 pb-3">
                                            <h6 class="text-muted">Total Price:
                                                <h6 class="mb-0">{{c.total}}</h6>
                                            </div>
                                            <div class="col-md-2 col-lg-2 col-xl-2 col-sm-12 pb-3">
                                            <style>
                                                .remove-link{
                                                    color:#222222;
                                                }
                                                .remove-link:hover{
                                                    color:#222222;
                                                }
                                            </style>
                                            <a class="remove-link" href="{{path('remove_product', {'id':c.id})}}">Remove</a>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <hr class="my-4">

                                        <div class="pt-5">
                                            <h6 class="mb-0"><a style="text-decoration: none;" href="#!" data-toggle="tooltip" title="Go to shopping">
                                                    <i class="bi bi-backspace"></i>
                                                    <a href="{{path('app_home')}}"><i class="fas fa-long-arrow-alt-left me-2 ">Back to shop</i></a>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="p-5">
                                        <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                        <hr class="my-4">
                                        <form action="{{path('order_orderDetail')}}" id="confirm"></form>
                                        <form action="{{path('app_cart')}}" id="confirm-ship"></form>
                                        <div class="d-flex justify-content-between mb-4">
                                            <h5 class="text-uppercase">Subtotal</h5>
                                            <h5 form="confirm" name="subtotal">${{subtotal}}</h5>
                                        </div>

                                        <h5 class="text-uppercase mb-3">Shipping</h5>

                                        <div class="mb-4 pb-2">
                                            <select class="select" form="confirm-ship", name="delivery-money" onchange="this.form.submit()">
                                                <option selected>Select delivery option</option>
                                                <option form="confirm-ship" value="25">Express delivery - $25.00</option>
                                                <option form="confirm-ship" value="10">Standard-Delivery - $10.00</option>
                                                <option form="confirm-ship" value="5">Save money - $5.00</option>
                                            </select>
                                        </div>
                                        <div class="mb-4 pb-2">
                                            <input type="text" form="confirm" name="address" placeholder="Enter your address">
                                        </div>
                                        <hr class="my-4">

                                        <div class="d-flex justify-content-between mb-5">
                                            <h5 class="text-uppercase">Total</h5>
                                            <h5>${{total}}</h5>
                                            <input type="hidden" form="confirm" name="total" value="{{total}}">
                                        </div>

                                        <button form="confirm" type="submit" class="Confirm" style="border-radius: 12%;" type="button"
                                            class="btn btn-dark btn-block btn-lg">Confirm</button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        let addBtn= document.querySelector('#add');
        let subBtn= document.querySelector('#sub');
        let qty= document.querySelector('#qtyBox');
        addBtn.addEventListener('click',()=>{
            qty.value = parseInt(qty.value) + 1;
        });

        subBtn.addEventListener('click',()=>{
            if(qty.value<=1){
                qty.value=1;
            }
            else{
                qty.value = parseInt(qty.value) -1;
            }
        });

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
</script>
{% endblock %}