{% extends 'base.html.twig' %}
{% block title %}Detail | Shopinist{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/homepage.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/pDetail.css') }}" />
{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
    <section id="featured" class="container sproduct">
        {% if message != 0 %}
        <style>
            .alert-danger{
                z-index: 2;
            }
        </style>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error!</strong> {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <div class="row mt-5">
            <div class="col-lg-6 col-md-12 col-12">
            {% for i in getImg %}
                {% set img = i.image %}
                <img class="img-fluid pb-1 w-100 h-75" id="MainImg" src="{{asset('uploads/'~img)}}" alt="">
            {% endfor %}
            </div> 
            <div class="col-lg-6 col-md-12 col-12 px-5">
                <nav aria-label="breadcrumb " >
                    <ol class="breadcrumb d-flex justify-content-center">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      {% for cName in catName %}
                        <li class="breadcrumb-item"><a href="#">{{cName.category_name}}</a></li>
                      {% endfor %}
                    </ol>
                  </nav>          
                <hr>
                {% for show in showDetail %}
                    <h3 class="py-4 px-4">{{show.productName}}</h3>
                    <div class="px-5">
                    <h2>${{show.price}}</h2>
                {% endfor %}
                    {% for g in getProductDetail %}
                        {% if g.status == 1 %}
                            <h5>Status: Available</h5>
                        {% endif %}
                        {% if g.status == 0 %}
                             <h5>Status: Unavailable</h5>
                       
                        {% endif %}    
                    {% endfor %}
                {% for show in showDetail %}
                    <form action="{{path('add_cart', {'id':show.id})}}">
                {% endfor %}
                    <select name="size" class="my-3">
                        <option>Select Size</option>
                        {% for g in getSize %}
                            <option value="{{g.size}}">{{g.size}}</option>
                        {% endfor %}
                    </select>
                    <div class="number">
                        
                        {# <i id="sub" class="bi bi-dash-circle-dotted minus"></i>
                        <input id="qtyBox" class="input" type="text" value="1" name="quantity"/>
                        <i id="add" class="bi bi-plus-circle-dotted plus"></i> #}
                        <select name="quantity" class="form-select select-qty">
                                                        <option selected>1</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                    </select>

                    </div>
                   
                    <h4 class="mt-4 ">Description</h4>
                    <style>
                        .description{
                            font-size: 15px;
                            text-align:justify;
                        }
                        .select-qty{
                            width: 27%;
                        }
                        #MainImg{
                            object-fit: cover;
                        }
                    </style>
                    {% for show in showDetail %}
                        <span class="description">{{show.description}}</span>
                    {% endfor %}
                    



                    <div class="pt-5">
                        <input type="submit" style="border-radius: 12%; border-width: 2px; 
                        border-color: rgb(0, 0, 0);" class="btnDetail btn btn-white" value="Add to Cart">
                    </div>
                </form>
                    <div class="pt-5"><a href="{{path('app_home')}}"><button class="btnDetail btn btn-white" style="border-radius: 12%; border-width: 2px; 
                        border-color: rgb(0, 0, 0);">Back to shopping</button></a></div>
                </div>

            </div>
        </div>
    </section>
{% include 'footer.html.twig' %}
<script type="text/javascript">
        let addBtn= document.querySelector('#add');
        let subBtn= document.querySelector('#sub');
        let qty= document.querySelector('#qtyBox');
        addBtn.addEventListener('click',()=>{
            qty.value = parseInt(qty.value) + 1;
        });

        subBtn.addEventListener('click',()=>{
            if(qty.value<=1){
                qty.value=1;
            }
            else{
                qty.value = parseInt(qty.value) -1;
            }
        });
</script>
{% endblock %}