{% extends 'base.html.twig' %}

{% block title %}Product | Shopinist{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/homepage.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/product.css') }}" />
{% endblock %}

{% block javascripts %}
    <link rel="stylesheet" href="{{ asset('Js/homepage.js') }}" />
{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
    <section class="pb-5 product-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 title-page">
                        {% for cat in findCat %}
                            <h3 class="page-title">{{cat.categoryName}}</h3>
                        {% endfor %}
                    </div>
                    <div class="col-md-4 browse">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{path('app_home')}}">Home</a></li>
                            {% for cat in findCat %}
                                <li class="breadcrumb-item"><a href="#">{{cat.categoryName}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <select name="" id="" class="form-select">
                            <option value="">Featured</option>
                            <option value="descending">Price: High to Low</option>
                            <option value="ascending">Price: Low to High</option>
                            <option value="newest">Newest</option>
                            <option value="best-selling">Best Sellers</option>
                        </select>
                    </div>
                    <style>
                    .product-detail-link{
                        color:#222222;
                    }
                    .product_detail-link:hover{
                        color:#222222;
                    }
                    </style>
                    {% for product in showProduct %}
                    <div class="col-md-3 col-sm-6 col-6 box-product">
                        <div class="product-box">
                        {% set img = product.image %}
                            <img class="product-img" src="{{asset('uploads/'~img)}}" alt="">
                            <a class="product-detail-link" href="{{path('show_detail', {'id':product.id})}}"><div class="view-click"><span class="view-link">View Details</span></div></a>
                            <h2 class="product-title">{{product.productName}}</h2>
                            <div class="product-price">${{product.price}}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
{% include 'footer.html.twig' %}
{% endblock %}