{% extends 'base.html.twig' %}

{% block title %}Add Product | Admin{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/homepage.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/formManage.css') }}" />
{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
    <section class="form-manage-section">
            <div class="container">
                {# <form action="" class="form-edit"> #}
                {{ form_start(form, {'attr':{'class':'form-edit'}}) }}
                    <div class="mb-2">
                        <label for="product-name" class="form-label">Product name</label>
                        {# <input type="text" class="form-control" id="product-name" name="product-name"> #}
                        {{ form_widget(form.product_name, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="mb-2">
                        <label for="product-price" class="form-label">Price</label>
                        {# <input type="text" class="form-control" id="product-name" name="product-name"> #}
                        {{ form_widget(form.price, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="mb-2">
                        <label for="created" class="form-label">Created</label>
                        {# <input type="text" class="form-control" id="created" name="created"> #}
                        {{ form_widget(form.import_date, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="mb-2">
                        <label for="description" class="form-label">Description</label>
                        {# <textarea class="form-control" id="description" rows="5"></textarea> #}
                        {{ form_widget(form.description, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="mb-2">
                        <label for="cat-id" class="form-label">Category ID</label>
                        {# <input type="text" class="form-control" id="product-name" name="product-name"> #}
                        {{ form_widget(form.cat, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="mb-2">
                        <label for="cat-id" class="form-label">Category ID</label>
                        {# <input type="text" class="form-control" id="product-name" name="product-name"> #}
                        {{ form_widget(form.brand, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="mb-2">
                        <label for="formFile" class="form-label">{{ form_label(form.file) }}</label>
                        {# <input class="form-control" type="file" id="formFile"> #}
                        {{ form_widget(form.file, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="mb-2">
                    {% set img = form.image.vars.value %}
                    {% if img %}
                    <img src="{{asset('uploads/'~img)}}" class="w-25 shadow p-3 mb-5 bg-body rounded" />
                    {% else %}
                    <img src="https://cdn2.iconfinder.com/data/icons/symbol-blue-set-3/100/Untitled-1-94-512.png" class="w-25 shadow p-3 mb-5 bg-body rounded" />
                    {% endif %}
                    </div>
                    {# <button class="btn btn-info confirm-btn">Confirm</button> #}
                    {{ form_widget(form.save, {'attr':{'class':'btn btn-info confirm-btn'}}) }}
                {# </form> #}
                {{ form_end(form) }}
            </div>
        </section>
{% include 'footer.html.twig' %}
{% endblock %}