{% extends 'base.html.twig' %}

{% block title %}Product Detail | Admin{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/homepage.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/manage.css') }}" />
{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
    <section class="manage-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-12">
                        <ul class="nav-sidebar">
                            <li class="active"><a href="{{path('show_manage')}}">Product</a></li>
                            <li><a href="{{path('productDetail_show')}}">Product detail</a></li>
                            <li><a href="{{path('show_category')}}">Category</a></li>
                            <li><a href="{{path('brand_show')}}">Brand</a></li>
                            <li><a href="{{path('image_show')}}">Image detail</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-9 col-12">
                        <div class="heading">
                            <h1 class="title-manage-info">
                                Manage Product Detail
                            </h1>
                            <a class="insert-link" href="{{path('pDetail_insert')}}"><button class="btn btn-info">Insert</button></a>
                        </div>
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Product name</th>
                                <th scope="col">Size</th>
                                <th scope="col">Stock</th>
                                <th scope="col">Status</th>
                                <th>Action</th>
                                <!-- <th scope="col">Handle</th> -->
                              </tr>
                            </thead>
                            <tbody>
                            {% for pd in pDetail %}
                            <tr>
                                <th scope="row">{{pd.id}}</th>
                                    <td>{{pd.product_name}}</td>
                                    <td>{{pd.size}}</td>
                                    <td>{{pd.stock}}</td>
                                    <td>{{pd.status}}</td>
                                <td>
                                    <a href="{{path('pDetail_edit', {'id':pd.id})}}">Edit</a>
                                    <a href="{{path('pDetail_delete', {'id':pd.id})}}">Delete</a></td>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </section>
{% include 'footer.html.twig' %}
{% endblock %}